.carousel-container {
  /* border:1px solid black; */
  display: flex;
  margin-left:10%;
  /* justify-content: center; */
  align-items: center;
  height: 50vh; /* Adjust the height based on your needs */
  /* position:block; */
  width: 80%;
}

.cart-container {
  position: absolute;
  top: 10px; /* Adjust the top position based on your needs */
  right: 10px; /* Adjust the right position based on your needs */
}
.cart{
  width: 80px;
  height: 80px;
}

.card-container {
  margin-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-market:hover{
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.footer1{
  margin-top: 50px;
  width: 100%;
}

.btn-sideBar{
  position:absolute;
  left:2px;
  /* float:left; */
}
.title-market{
  position:absolute;
  left:100px;
  /* font-size:40px; */
}
.sub-title{
  position:absolute;
  top:65%;
  left:11%;
}
.search{
  position:absolute;
  left:280px;
  /* height:100px; */
}

.carousel-control-next-icon{
  opacity:0;
}
.carousel-control-prev-icon{
  opacity:0;
}
.carousel-indicators{
  opacity:0;
}
.link{
  text-decoration:none;
}