.shipping-container{
    border:5px solid black;
    position:absolute;
    top:25%;
    left:28%;
    border-radius:12px;
}
#address{
    width:350px;
}
#city{
    width:200px;
}
#postalCode{
    width:145px;
}
#country{
    width:400px;
}

#country, #address, #city, #postalCode, #fullName{
    border:1px solid black;
}

.address-city{
    display:flex;
    gap:10px;
}
.postalCode-country{
    display:flex;
    gap:15px;
}