.signIn-container{
    border : 1px solid white;
    position : absolute;
    top :25%;
    left:30%;
    border-radius : 12px;
    background-color:white;
}
.signIn-container:hover{
    border : 2px solid black;
    display:absolute;
    top:24%;
    box-shadow: 0 0 10px black;
    transition:top ease 0.5s;
}
.my-3{
    text-align:center;
}
.btn{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* body {
      background-color: green;
} */