.gradient-bg {
    background: linear-gradient(to right, #EEFFE0, #88D6FF);
    height: 100vh;
  }
  
  .custom-button{
    background-color : #8E9BCB;
    border : none;
    border-radius: 30px;
  }

  .mid{
    background-color: white;
    margin-top: 3vh;
    height: 70vh;
  }

  .card{
    margin-left : 200px;
    border-style : solid;
    border-color:white;
  }

  .image1{
    width : 200px;
    height: 200px;
    margin-left:10%;
    margin-top : 10%;
  }
  .tombol{
    width:100%;
    border-style:solid;
    padding-left:3px;
  }
  .imageST{
    width : 180px;
    height: 180px;
    margin-left:10%;
    margin-top : 20%;
  }

  .hover:hover{
    background-color : #CAD4DD;
    transition: 1.0s;
  }